<%if user_signed_in?%>
  <div class="card text-white bg-dark m-2">
    <h5 class="card-header">
      <%= link_to @tweet.user.name, profile_path(@tweet.user_id) %>
    </h5>
    <%if current_user.is_following?(@tweet.user)%>
     <h5 class="text-right"><%= link_to "des-seguir", follow_path(@tweet.user), method: :post %></h5>
    <%else%>
      <h5 class="text-right"><%= link_to "agregar", follow_path(@tweet.user), method: :post %></h5>
    <%end%>
    <div class="row">
      <div class="col-2">
        <%unless @tweet.user.img.nil? %> 
            <%= image_tag(@tweet.user.img, size:'100') %>
        <%end%>
      </div>
      <div class="col-10">
        <div class="card-ody">
          <%if @tweet.has_hashtag?%>
          <h5 class='card-title'>
            <% @tweet.separar.each do |word| %>
              <%if word.start_with?('#')%>
                <%= link_to "#{word}", "/?utf8=✓&search=#{word.gsub('#','')}" %>
              <%else%>
                <%= word %>
              <%end%>
            <%end%>
          </h5>
          <%else%>
            <h5 class="card-title"><%= @tweet.content %></h5>
          <%end%>
          <p><%= link_to (@tweet.is_liked?(current_user) ?  raw('&#10084') : raw('&#9825')), likes_path(@tweet.id), method: :post %>
            <span><%= @tweet.likes.count %></p></span>
            <%= @tweet.count_rt %>  
            <%= link_to 'retwitiar', retweet_path(@tweet)%>          
        </div>
        <div class="card-footer text-muted">
          <%=link_to time_ago_in_words(@tweet.created_at), tweet_path(@tweet) %>
          <% if @tweet.user_id == current_user.id %>
            <%= link_to "borrar", tweet_path(@tweet.id), method: :delete %>
          <%end%>
        </div>
      </div>  
    </div>
  </div>
<%end%>