<%= render 'tweet', tweet: @tweet %>

<%unless @tweet.rt.nil?%>
  <%= render 'retweet', tweet: @rt %>
<%end%>

<div class="card text-white bg-secondary " >
  <div class="card-header">Likes</div>
  <% @like.each do |l| %>
    <div class="card-body">
      <h5 class="card-title">
        <%unless l.user.img.nil? %> 
          <%= image_tag(l.user.img, size: '100') %>
        <%end%>
      </h5>
      <p class="card-text"><%= l.user.name %></p>
    </div>
  <%end%>
</div>
<%= link_to 'Back', root_path %>
